h1 a, h2 a {
    color: #C25100;
}
.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 40px;
}

.page-header h1 a {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}

body {
    padding-left: 15px;
}

h1, h2 {
    font-family: Arial;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}